{% extends "base.html" %}

{% block content %}
<h1 class="text-3xl font-bold mb-4 text-center">Lista de Médicos</h1>
<div class="grid grid-cols-3 gap-6">
    {% for medico in medicos %}
    <div class="bg-white p-4 rounded-lg shadow-lg">
        <img src="{{ medico.foto.url }}" alt="Foto do médico" class="w-full h-40 object-cover rounded-md">
        <h2 class="text-xl font-semibold mt-2">{{ medico.nome }}</h2>
        <p class="text-gray-600">{{ medico.especialidade }}</p>
        <a href="{% url 'perfil_medico' medico.id %}" class="block mt-3 text-blue-500 hover:underline">Ver perfil</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
